server:
  port: 9008
spring:
  application:
    name: config-server
  cloud:
    config:
     server:
        git:
          uri: https://github.com/marginFlying/springcloud.git
          # 此处需要注意一下，如果是在本地，不用配置/src/main/,在git上面必须是全路径
          search-paths: /config-repo/src/main/resources
          username: yinyuxuan2016
          password: Password123!
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
     defaultZone: http://master:8761/eureka/,http://slave:8761/eureka/